* {
	margin: 0px;
	padding: 0px;
}
.ui-page-theme-f {
	background-image: url(../images/191201.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
nav{
	display:none;
}
.l_tbn{
	position: absolute;
	left: 0px;
	top: 0px;
	width:40px;
	height:28px;
	text-align: center;
	padding-top: 12px;
	border-right:1px #666 solid;
}


